# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
test_poly
perf_poly
test_egalite_poly
test_addition_poly
test_multiplication_scalaire
test_eval_poly
test_multiplication_poly
test_puissance_poly
test_composition_poly

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.vscode
*.json

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Archives
*.tar
*.zip
*.gz
